@import 'style/media-queries';

.info-block.with-chart {
  > div {
    display: flex;
    align-items: center;
    .chart-wrapper {
      canvas {
        width: 100%;
        height: 100%;
      }
      @media (--xl) { width: 70% }
      @media (--lg) { width: 65% }
      @media (--md) { width: 75%}
      @media (--sm) { width: 65%}
      @media (--xs) { width: 65%}
    }
    aside {
      @media (--xl) { width: 30% }
      @media (--lg) { width: 35% }
      @media (--md) { width: 25%}
      @media (--sm) { width: 35%}
      @media (--xs) { width: 35%}
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1.2rem;

      > div:nth-child(1) {}
      > div:nth-child(2) {
        margin-top: 1.6rem;
      }

      .amount {
        padding: 0rem 0 0.8rem;
        text-align: center;
        font-size: 2rem;
        
      }

      .description {
        font-size: 1.2rem;
        @media (--xs) { font-size: 1.1rem; }
        text-align: left;
        span {
          font-weight: 700;
        }
      }
    }
  }
}