@import 'style/media-queries';

header.page-header {
  padding: 2rem 0;
  border-width: 2px 0 2px;
  border-color: var(--clr-font);
  border-style: solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;

  h1 {
    margin-right: auto;
  }
  .divider {
    width: 1px;
    height: 100%;
    background-color: var(--clr-info-block-border);
  }
  .stats {
    display: flex;

    img {
      display: block;
      flex-shrink: 0;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &.dispensings {
      span {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: -1.4rem;
        font-size: 1rem;
        white-space: nowrap;
      }
    }
    &.refresh-time {
      img {
        cursor: pointer;
      }
      .stats-inner {
        justify-content: flex-end;
      }
    }

    
  }

}

@media (--xl) {
  header.page-header {
    .stats {
      &-inner {
        width: 12rem;
        font-size: 1.6em;
      }
      &.refresh-time {
        .stats-inner {
          width: 20rem;
        }
      }
    }
  }
}
@media (--lg) {
  header.page-header {
    .stats {
      &-inner {
        width: 12rem;
        font-size: 1.6em;
      }
      &.refresh-time {
        .stats-inner {
          width: 20rem;
        }
      }
    }
  }
}
@media (--md) {
  header.page-header {
    .stats {
      &-inner {
        width: 8rem;
        font-size: 1.4em;
      }
      &.dispensings {
        span {
          display: none;
        }
      }
      &.refresh-time {
        .stats-inner {
          width: 16.5rem;
        }
      }
    }
  }
}
@media (--sm) {
  header.page-header {
    padding-right: 1rem;
    .stats {
      &-inner {
        width: 6rem;
        font-size: 1.4em;
      }
      &.dispensings {
        span {
          display: none;
        }
      }
      &.refresh-time {
        .stats-inner {
          display: none;
        }
      }
    }
  }
}
@media (--xs) {
  header.page-header {
    padding: 1.4rem 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    h1 { 
      font-size: 2.0rem;
    }
    .stats {
      img {
        margin-right: 1rem;
      }
      &-inner {
        width: auto;
        font-size: 1.2em;
      }
      &.dispensings {
        span {
          display: none;
        }
      }
      &.refresh-time {
        .stats-inner {
          display: none;
        }
      }
    }
  }
}

