@import 'colors.css';
@import 'media-queries';

html {
  font-family: 'Arial' sans-serif;
  font-size: 10px;
  color: var(--clr-font);
}

body {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  font-size: 1.6rem;
  background-color: var(--clr-bg);
}

body::before, body::after {
  display: none;
  color: #FCFCFC;
  font-weight: 400;
  position: fixed;
  padding: 3px 8px;
  z-index: 100;
}
body::before { right: 10px; bottom: 10px; }
body::after { left: 10px; bottom: 10px; }

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

#app {
  position: relative;
  padding: 2rem 0 0 0;
  height: 100%;
}

.container {
  margin: auto;
}

.page {
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: column;

  &__overview {
    display: grid;
    
    @media (--xl) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 25rem);
    }
    @media (--lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 27rem);
    }
    @media (--md) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 25rem);
    }
    @media (--sm) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 25rem);
    }
    @media (--xs) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 28rem);
    }
    gap: 2rem;
    flex-grow: 1;
    margin-top: 2rem;
  }
}

.info-block {
  padding: .7rem;
  border-width: 1px;
  border-color: var(--clr-info-block-border);
  border-style: solid;
  border-radius: .6rem;
  background-color: var(--clr-info-bg);
  overflow: hidden;

  &.with-chart {
    display: flex;
    flex-direction: column;
    > div {
      flex-grow: 1;
    }
  }

  header {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--clr-font)
  }

  &__table {
    padding: 0;
    position: relative;
    height: 800px;
    overflow: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--clr-badge) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-badge);
  border-radius: 10px;
  border: 3px solid transparent;
}

body {
  &::-webkit-scrollbar { display: none }
}

footer {
  height: 4rem;
}